<div>
  <div class="input-group mb-3">
    <input type="text" id="newItem" class="form-control" placeholder="Nuevo Titulo" />
    <button class="btn btn-success btn-agregar" type="button">Agregar</button>
  </div>
  <ul id="toDoItems" class="list-group">
    <!-- Aquí se van a inyectar los ítems con Backbone -->
  </ul>
</div>
